{% extends 'base.html.twig' %}

{% block title %}Auteur
{% endblock %}

{% block body %}
	<h1>Auteurs</h1>
	<div class="container front" style="align:center">
		<table class="table mt-5" id="auteurs">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom_prenom</th>
					<th>Sexe</th>
					<th>Date_de_naissance</th>
					<th>Nationalite</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for auteur in auteurs %}
					<tr>
						<td>{{ auteur.id }}</td>
						<td>{{ auteur.nomPrenom }}</td>
						<td>{{ auteur.sexe }}</td>
						<td>{{ auteur.dateDeNaissance ? auteur.dateDeNaissance|date('Y-m-d') : '' }}</td>
						<td>{{ auteur.nationalite }}</td>
						<td>
							<a class="btn btn-primary" href="{{ path('auteur_show', {'id': auteur.id}) }}">Afficher</a>
							{% if is_granted('ROLE_ADMIN') %}
								<a class="btn btn-info" href="{{ path('auteur_edit', {'id': auteur.id}) }}">Modifier</a>
								{{ include('auteur/_delete_form.html.twig') }}
							{% endif %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('auteur_new') }}">Ajouter nouveau</a>
		{% endif %}
	</div>
{% endblock %}
{% block javascripts %}
	<script src="/js/main.js"></script>
{% endblock %}
